* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(118deg, #dedede 0%, #ffffff 100%);
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas:
    "header header header header"
    "menu menu menu menu"
    "hero-section hero-section hero-section hero-section"
    "aside main main main"
    "footer footer footer footer";
  gap: 30px 0px;
}
/* Cabezera-header */
header {
  padding: 0;
  margin: 0;
  height: 10vh;
  grid-area: header;
}
.img-Logo {
  margin-left: 5px;
  padding-left: 30px;
  height: 12vh;
  width: 12vh;
}

.input-buscar {
  list-style: none;
  display: flex;
  width: 30rem;
}

.input-buscar select {
  border: none;
  height: 5vh;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}
.input-buscar input {
  border: none;
  height: 5vh;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20rem;
}

.carro-Compras {
  height: 15vh;
  margin: 0;
  padding: 0px;
  width: 10rem;
  display: grid;
  justify-content: center;
  gap: 1px;
  align-items: center;
  grid-template-areas:
    "carro cantidad"
    "carro precio";
  background-color: #00000012;
}
.carro-Compras p {
  grid-area: precio;
  color: #000000;
  font-weight: bold;
}
.carro-Compras a {
  color: #000000;
  grid-area: carro;
}
.carro-Compras span {
  background-color: #f63500;
  padding: 3px;
  font-size: 10px;
  color: #ffffff;
  grid-area: cantidad;
  width: 1rem;
  vertical-align: top;
  text-align: center;
  border-radius: 100%;
}
.navBar {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  align-items: center;
}
/* MENU Bajo cabecera */
menu {
  padding: 0;
  margin: 0;
  height: 8vh;
  background-image: linear-gradient(#000000, #4b4b4b);
  grid-area: menu;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.lista-Menu {
  height: 8vh;
  list-style: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.item-select {
  background-color: #f63500;
  font-weight: bold;
  padding-inline: 5px;
  height: 8vh;
  display: flex;
  align-items: center;
}

.item-menu {
  padding-inline: 5px;
  height: 8vh;
  display: flex;
  align-items: center;
}
.item-menu:hover {
  background-color: #f6350096;
}

/* contenedor de productos */
main {
  padding: 0;
  margin: 0 0 20px 0;
  grid-area: main;
}
.container-productos {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 2rem;
}
/* Formato card */
.card-item {
  position: relative;
  height: 20rem;
  width: 15rem;
  display: flex;
  border: solid 1px #dedede;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}
.card-img {
  height: 10rem;
  width: 18rem;
  padding: 10px;
  object-fit: contain;
  flex-basis: 50%;
}
.card-iconos {
  position: absolute;
  top: 45%;
  display: flex;
  width: 100%;
  background-color: #474747;
  color: #ffffff;
  justify-content: space-around;
  opacity: 0;
}
.card-iconos i {
  padding: 10px;
}
.card-rating {
  flex-basis: 10%;
  color: #f63500;
}
.card-title {
  flex-basis: 20%;
  font-size: 1rem;
}
.card-price {
  flex-basis: 20%;
  font-size: 1.5rem;
  color: #f63500;
}
.card-item a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #f63500;
}
.card-boton {
  position: absolute;
  top: 45%;
  margin: 10rem;
  width: 35%;
  height: 2rem;
  color: #f63500;
  background-color: #ffffff;
  border: solid 1px #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card-item:hover {
  border: solid 1px #f63500;
}
.card-item:hover .card-boton {
  border-right: solid 1px #f63500;
  border-left: solid 1px #f63500;
}
.card-item:hover .card-boton:hover {
  background-color: #f63500;
}
.card-item:hover .card-boton:hover a {
  color: #ffffff;
}
.card-item:hover .card-iconos {
  opacity: 0.5;
}
.card-item:hover .card-iconos:hover {
  opacity: 1;
}
.card-item:hover .card-iconos:hover i:hover {
  color: #f63500;
  cursor: pointer;
}
/* MENU LATERAL */
aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  margin-left: 50px;
}
.Categories {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 70vh;
  width: 20vw;
  border: solid 1px #dedede;
  padding: 1rem;
}
.Categories h3 {
  border-bottom: solid 1px #767575;
  padding-bottom: 1rem;
}
.list-Category {
  list-style: circle;
}
.item-cat {
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 10px;
}
.item-cat:hover {
  background-color: #f63500;
  color: #ffffff;
}
/* Pie de Pagina / Footer */
footer {
  padding: 0;
  margin: 0;
  height: 40vh;
  grid-area: footer;
}
.footer1 {
  height: 35vh;
  background-image: linear-gradient(#000000, #4b4b4b);
  color: #dedede;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-footer {
  height: 20vh;
  width: 20vh;
  border-image: solid #dedede;
}
.s-footer ul {
  list-style: none;
}
.s-footer ul li {
  padding: 5px;
  display: flex;
}
.s-footer ul li p {
  padding-left: 10px;
}
.foot-redes {
  justify-content: space-around;
}
.s-footer ul li:hover {
  color: #f63500;
  cursor: pointer;
}

.foot-redes i {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #dedede;
  color: #000000;
}
.foot-redes i:hover {
  background-color: #f63500;
  color: #ffffff;
}

.footer2 {
  height: 5vh;
  background-image: linear-gradient(#000000, #202020);
  color: #4b4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer2 span {
  color: #f63500;
}
.hero-section {
  grid-area: hero-section;
  height: 25vh;
  width: 100%;
  background-image: url("../img/hero-back.webp");
  background-size: cover;
  color: #f63500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-distribucion {
  height: 20vh;
  width: 100%;
}
.sec-vista {
  height: 6vh;
  width: 90%;
  display: flex;
  gap: 10px;
  border-bottom: solid 1px #d0d0d0;
}
.btn-vista {
  height: 2rem;
  width: 2rem;
  background-color: #000000;
  border-radius: 30%;
  border: none;
  color: #dedede;
}
.btn-vista:hover {
  background-color: #f63500;
}
.sec-ordenPag{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-orden p {
  color: #767575;
  font-size: 1rem;
}
#list-ordenar{
  border: none;
  height: 5vh;
  background-color: #dedede;
  border-radius:10px;
  padding: 10px;
}
.sec-pag{
}
.btn-pag{
  height: 2rem;
  width: 2rem;
  background-color: #dedede;
  border-radius: 30%;
  border: none;
}
.btn-pag:hover{
  background-color:#f63500;
  color: #dedede;
}
